@charset "utf-8";

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
:root {
  /* color */
  --color-white: #fff;
  --color-background: rgba(0, 0, 0, 0.5);
  --color-gray: #bcbcbc;
  --color-lightblue: #369fff;

  /* size */
  --size-padding: 1em;
  --size-margin-bottom: 2rem;
  --size-todo: 1em;

  /* duration */
  --transition-duration: 300ms;
}
html,
body {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input {
  color: var(--color-white);
  outline: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* 로딩 마스크 */
.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #181515;
  z-index: 999;
  pointer-events: none;
  animation: loadingMask 1s forwards;
}
@keyframes loadingMask {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: var(--size-padding);
  background-color: transparent;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}
.header__search {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__toggle {
  color: var(--color-white);
  font-weight: 500;
  margin-right: 0.5rem;
  background-color: transparent;
  transition: color var(--transition-duration);
}
.header__form-container {
  max-width: 0;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
  pointer-events: none;
}
.header__form-container.active {
  max-width: 100%;
  opacity: 1;
  pointer-events: visible;
}
.header__form {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.header__form--input {
  font-size: 0.9rem;
  width: 100%;
}
.header__form--btn {
  width: 14px;
  height: 14px;
  margin-left: 0.5em;
  border: 0;
  background-color: transparent;
}
.header__form--btn::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background: url("../image/search.svg") no-repeat center/cover;
}
.header__form-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}
.header__weather--container {
  display: flex;
  height: 36px;
}
.header__weather--ico::before {
  font-size: 1.5rem;
  line-height: 1.5;
  vertical-align: middle;
}
.header__weather--temperature {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin-left: 0.5em;
  cursor: default;
}
.header__weather--location {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.1em;
  cursor: default;
}

/* main container */
.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}
.container-top--time {
  font-size: 9rem;
  margin: 0 auto var(--size-margin-bottom);
}
.container-top__greeting {
  width: 100%;
  position: relative;
  text-align: center;
}
.container-top__greeting--text {
  font-size: 3rem;
  margin-bottom: var(--size-margin-bottom);
}
.container-top__greeting--input {
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid var(--color-white);
  display: inline-block;
  cursor: text;
}
.container-top__greeting--input.hide {
  display: none;
}
.container-top__greeting--name {
  width: 100%;
  font-size: 3rem;
  margin-top: 20px;
  outline: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color var(--transition-duration) ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-top__greeting--name[contenteditable="true"]:focus {
  border-bottom-color: var(--color-white);
}
.container-top__greeting--edit {
  position: absolute;
  right: -15px;
  top: 0;
  width: 13px;
  height: 13px;
  background: url("../image/edit.svg") no-repeat center/cover;
  display: block;
}
.container-top__greeting--edit.hide {
  display: none;
}
/* bottom container */
.container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 var(--size-padding);
}
.container-bottom--description {
  flex: 1;
}
.container-bottom--location {
  position: relative;
  display: inline-block;
  color: var(--color-white);
  text-decoration: none;
  transition: all var(--transition-duration) ease-in-out;
}
.bg-location {
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--location:hover .bg-location {
  color: var(--color-lightblue);
  transform: translateY(-12px);
}
.bg-user {
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  white-space: nowrap;
  left: 0;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--location:hover .bg-user {
  color: var(--color-lightblue);
  opacity: 1;
  transform: translateY(12px);
}
.container-bottom--text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.container-bottom--quote {
  position: relative;
  text-align: center;
  transition: all var(--transition-duration) ease-in-out;
  cursor: default;
}
.container-bottom--text:hover .container-bottom--quote {
  transform: translateY(-12px);
}
.container-bottom--author {
  position: absolute;
  margin-left: 0.5em;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
  cursor: default;
}
.container-bottom--text:hover .container-bottom--author {
  opacity: 1;
  transform: translateY(12px);
}
.container-bottom--container {
  position: relative;
  flex: 1;
  text-align: right;
}
.container-bottom--toggle {
  color: var(--color-white);
  background-color: transparent;
  transition: color var(--transition-duration) ease-in-out;
}

/* todolist container */
.container-bottom--container__position {
  position: absolute;
  right: 0;
  bottom: 30px;
  background-color: var(--color-background);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(0);
  transition: all var(--transition-duration) ease-in-out;
  pointer-events: none;
}
.container-bottom--container__position.active {
  opacity: 1;
  pointer-events: visible;
  transform: translateY(-3px);
}
.container-bottom--container__container {
  position: relative;
  width: 300px;
}
.container-bottom--container__container--header {
  padding: var(--size-todo);
}
.container-bottom--container__container--title {
  font-size: 1.25rem;
  text-align: left;
}
.container-bottom--container__container--list {
  overflow-y: scroll;
  max-height: calc(85vh - 135px);
  transition: max-height var(--transition-duration) ease-in-out;
}
.container-bottom--container__container--list .no-list {
  display: block;
  text-align: center;
  padding: 2rem 0;
  opacity: 1;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--container__container--list .no-list.hide {
  opacity: 0;
  display: none;
}
.container-bottom--container__container--item {
  display: flex;
  padding: calc(var(--size-todo) / 2) var(--size-todo);
  opacity: 1;
  animation: listOpacity var(--transition-duration) forwards;
}
@keyframes listOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-bottom--container__container--item input[type="checkbox"] {
  display: none;
}
.container-bottom--container__container--item label {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-right: calc(var(--size-todo) / 2);
  border-radius: 2px;
  background: var(--color-white) url("../image/checkmark.svg") no-repeat
    center/cover;
  transition: background-color var(--transition-duration) ease-in-out;
  cursor: pointer;
}
.container-bottom--container__container--item label:hover {
  background-color: var(--color-lightblue);
}
.container-bottom--container__container--item
  input[type="checkbox"]:checked
  + label {
  background-color: var(--color-lightblue);
}
.container-bottom--container__container--item > span {
  position: relative;
  font-size: 0.9rem;
  text-align: left;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--container__container--item
  > span[contenteditable="true"]:focus {
  outline: none;
  color: var(--color-gray);
}
.container-bottom--container__container--item
  input[type="checkbox"]:checked
  ~ span {
  text-decoration: line-through;
  color: var(--color-gray);
}
.container-bottom--container__container--btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
}
.container-bottom--container__container--edit {
  background: url("../image/edit.svg") no-repeat center/cover;
  width: 13px;
  height: 13px;
  margin: 0 calc(var(--size-todo) / 2);
}
.container-bottom--container__container--delete {
  background: url("../image/delete.svg") no-repeat center/cover;
  width: 13px;
  height: 13px;
}
.container-bottom--container__container--input {
  font-weight: 500;
  width: 100%;
  padding: var(--size-todo);
  box-sizing: border-box;
}
.container-bottom--container__container::after {
  content: "";
  position: absolute;
  right: 10px;
  transform: rotate(180deg);
  border: 7px solid transparent;
  border-bottom: 7px solid var(--color-background);
}

/* event */
.container-top.hide,
#header.hide {
  opacity: 0;
}
.container-bottom--text:hover,
.header__toggle:hover,
.container-bottom--toggle:hover {
  color: var(--color-lightblue);
}
