.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
:root {
  /* color */
  --color-white: #fff;
  --color-background: rgba(0, 0, 0, 0.7);

  /* size */
  --size-padding: 1em;
  --size-margin-bottom: 3rem;
  --size-todo: 0.5em;

  /* duration */
  --transition-duration: 300ms;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
button {
  cursor: pointer;
}
input {
  color: var(--color-white);
  outline: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: var(--size-padding);
  background-color: transparent;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}
.header__search {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__toggle {
  color: var(--color-white);
  font-weight: 500;
  margin-right: 0.5rem;
  background-color: transparent;
  transition: color var(--transition-duration);
}
.header__form-container {
  max-width: 0;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
}
.header__form-container.active {
  max-width: 100%;
  opacity: 1;
}
.header__form {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.header__form--input {
  font-size: 0.9rem;
  width: 100%;
}
.header__form--btn {
  width: 14px;
  height: 14px;
  margin-left: 0.5em;
  border: 0;
  background-color: transparent;
}
.header__form--btn::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background: url("../image/search.svg") no-repeat center/cover;
}
.header__form-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}
.header__weather--container {
  display: flex;
}
.header__weather--temperature {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.header__weather--temperature::after {
  content: "°";
}

/* main container */
.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}

.container-top--time {
  font-size: 9rem;
  margin: 0 auto;
}
.container-top__greeting {
  max-width: 40%;
  margin-bottom: var(--size-margin-bottom);
}
.container-top__greeting--text {
  font-size: 3rem;
  text-align: center;
}
.container-top__greeting--input {
  font-size: 2rem;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--color-white);
}
.container-top__focus {
  max-width: 43%;
}
.container-top__focus--text {
  font-size: 2.5rem;
  text-align: center;
}
.container-top__focus--input {
  font-size: 2rem;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--color-white);
}

/* bottom container */
.container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 var(--size-padding);
}
.container-bottom--description {
  flex: 1;
}
.container-bottom--location {
  position: relative;
  display: inline-block;
  color: var(--color-white);
  text-decoration: none;
  transition: all var(--transition-duration) ease-in-out;
}
.bg-location {
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--location:hover .bg-location {
  color: #369fff;
  transform: translateY(-12px);
}

.bg-user {
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  white-space: nowrap;
  left: 0;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
}

.container-bottom--location:hover .bg-user {
  color: #369fff;
  opacity: 1;
  transform: translateY(12px);
}

.container-bottom--text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.container-bottom--quote {
  text-align: center;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--text:hover .container-bottom--quote {
  transform: translateY(-12px);
}
.container-bottom--author {
  position: absolute;
  margin-left: 0.5em;
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--text:hover .container-bottom--author {
  opacity: 1;
  transform: translateY(12px);
}
.container-bottom--container {
  position: relative;
  flex: 1;
  text-align: right;
}
.container-bottom--toggle {
  color: var(--color-white);
  background-color: transparent;
}

/* todolist container */
.container-bottom--container__position {
  position: absolute;
  right: 0;
  bottom: 30px;
  border-radius: 3px;
  background-color: var(--color-background);
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  transition: all var(--transition-duration) ease-in-out;
}
.container-bottom--container__position.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-3px);
}
.container-bottom--container__container {
  position: relative;
  width: 320px;
}
.container-bottom--container__container--header {
  padding: calc(var(--size-todo) * 2) var(--size-todo);
}
.container-bottom--container__container--title {
  font-size: 1.25rem;
  text-align: left;
}
.container-bottom--container__container--item {
  display: flex;
  padding: 0 var(--size-todo) var(--size-todo);
}
.container-bottom--container__container--item label {
  display: flex;
}
input[type="checkbox"] {
  margin: 0;
  margin-right: var(--size-todo);
}
.container-bottom--container__container--item span {
  margin-right: var(--size-todo);
  text-align: left;
}
.container-bottom--container__container--btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
}
.container-bottom--container__container--edit {
  background: url("../image/edit.svg") no-repeat center/cover;
  width: 13px;
  height: 13px;
  margin-right: calc(var(--size-todo) / 2);
}
.container-bottom--container__container--delete {
  background: url("../image/delete.svg") no-repeat center/cover;
  width: 13px;
  height: 13px;
}
.container-bottom--container__container--form {
  width: 100%;
}
.container-bottom--container__container--input {
  font-weight: 500;
  width: 100%;
  padding: var(--size-todo);
  box-sizing: border-box;
}
.container-bottom--container__container::after {
  content: "";
  position: absolute;
  right: 10px;
  transform: rotate(180deg);
  border: 7px solid transparent;
  border-bottom: 7px solid var(--color-background);
}

/* event */
.hide,
#header.hide {
  opacity: 0;
}
.container-bottom--text:hover,
.header__toggle:hover {
  color: #369fff;
}
